.video-chat{
  width: 100%;
  height: 100%;
  border-left: 2px solid #00000033;

  &__wrap{
    height: 100%;
    width: 100%;
  }

  &__wrap_my{
    position: absolute;
    right: 0;
  }

  &__wrap_remote{
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-height: 100%;
    flex-wrap: wrap;
    video{
      width: 100%;
      max-height: 80vh;

      @media screen and (max-width: 767px) {
        width: 100vw;
      }
    }
  }
}

.video-wrapper{
  width: min-content;
  min-width: 50%;
}

.button-section{

  i{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	margin: 0;
	cursor: pointer;
	border-radius: 50%;
	transition: ease-in-out .5s background;
	&:hover{
		background: #e0e0e0;
	}
  }
}