.chat-wrapper {
  display: flex;
  position: relative;
  top: 56px;
  height: calc(100vh - 112px);
  overflow: hidden;

  video {
    position: relative;
    height: calc(100vh - 112px);
    width: 100%;
    object-fit: cover;
  }

  .fas.fa-arrow-left {
    top: 22px;
    z-index: 999;
    position: absolute;

    &.close {
      left: 10px;
      transform: rotateZ(180deg);
    }

    &.open {
      right: 10px;
      transform: rotateZ(0deg);
    }
  }
}
