.footer{
  background: #152238;
  color: #fff;
  padding: 0 10px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 575px) {
	  p{
		  font-size: 14px;
	  }
  }

  li{
    margin-top: 0px;
    a{
      color: #fff;
    }
  }
}