.react-sign{
	width: 35px;
	height: 35px;
	color: #3b5998;
	font-size: 1.5rem;
}

.nav-position{
	background: rgb(227, 242, 253);
	position: sticky;
	top: 0;
	z-index: 101;
}

.navbar.navbar-expand-lg.navbar-light{
	max-width: 1290px !important;
	margin: auto;
}