$bg-gradient: linear-gradient(-90deg, rgba(178,36,239,1) 0%, rgba(117,121,255,1) 100%);
$bg-gradient-invert: linear-gradient(-90deg,rgba(117,121,255,1)  0%, rgba(178,36,239,1) 100%);
$main-color: #fff;
$main-darknes: #3366ff;
$white-opacity: #ffffffee;