@import '_variables.scss';

.about{
    max-width: 1290px;
    margin: auto;
    margin-top: 10px;

    @media screen and (max-width: 991px) {
        margin-top: 0;
    }

    &-a{
        margin: 0 !important;
        padding: 0 !important;
        font-size: 1rem;
        text-decoration: none;
        transition: color ease-in-out 0.5s !important;
    }

    &-app{
        width: 200px;
        margin: auto;
    }

    &-pretty{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: url('../img/pretty.jpg') center top/cover;
        margin: auto;
        transition: all ease-in-out 1s;
        cursor: pointer;
        margin-bottom: 10px;

        &:hover{
            border-radius: 45%; 
        }
    }

    &-section-1{
        border-radius: 5px;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        @media (max-width: 991px){
            border-radius: 0px;
        }
        background: $main-color;
        color: #333;
        font-family: Arial, Helvetica, sans-serif;
        overflow: hidden;

        &-text{
            width: 70%;
            padding: 70px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            & h2{
                font-size: 3rem;
            }
            & h3{
                margin: 40px 0;
                font-size: 3.4rem;
                span{
                    display: block;
                }
            }
            & p{
                font-size: 1.5rem;
            }

            @media screen and (max-width: 991px) {
                width: 60%;
            }
            @media screen and (max-width: 767px) {
                width: 100%;
                padding: 10px;
                h2{
                    font-size: 2rem;
                }
                h3{
                    font-size: 2.4rem;
                    margin: 20px 0;
                }
                p{
                    font-size: 1.2rem;
                }
            }
        }

        &-img{
            background: url('../img/user.webp') bottom center/cover;
            width: 30%;
            @media screen and (max-width: 991px) {
                width: 40%;
            }
            @media screen and (max-width: 767px) {
                width: 100%;
                height: 300px;
                background-position-y: 110vw;
            }
        }

        & h1{
            text-align: center;
        }
    }

    &-section-2{
        @media (min-width: 768px){
            margin-top: 10px;
            border-radius: 5px;
        }
        @media (max-width: 768px){
            margin-top: 0px;
            border-radius: 0px;
        }
        position: relative;
        
        background: $main-color;
        text-align: center;
        padding-bottom: 20px;

        & h2{
            font-size: 4rem;
            color: #333;
            margin-bottom: 30px;
        }

        &-card{
            width: 100%;
            max-width: 33%;
            position: relative;
            transition: ease-in 1s all;
            transform-style: preserve-3d;
            cursor: pointer;
            transform: perspective(1000px) rotateY(0deg);
            &.active{
                transform: perspective(1000px) rotateY(180deg);
            }
            &:hover h3.press{
                opacity: 1;
            }

            @media screen and (max-width: 991px) {
                max-width: 50%;
            }
            @media screen and (max-width: 767px) {
                max-width: 100%;
            }
        }

        h3.press{
            transition: ease-in all .5s;
            opacity: 0;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #00000055;
            position: absolute;
            transform: rotateY(180deg) translateZ(2px);
            color: #fff;
        }

        &-image{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: url('../img/code.jpg') center center/cover;
            transition: all ease-in-out .5s;
            transform: rotateY(180deg);

            &-discryption{
                padding: 60px 10px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #fff;
                background: #000000aa;
                transform: translateZ(1px);
                z-index: 0;
                height: 100%;
            }
        }


        &-PS{
            margin-top: 80px;
            margin-bottom: 30px;
            font-size: 1.5rem;
            @media (max-width: 768px){
                margin-top: 150px;
            }
    
            @media (min-width: 768px){
                margin-top: 30px;
            }
        }
    }

    &-projects-card{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    
    &-points{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 15px);
        grid-gap: 10px;
        width: 100%;
        justify-content: center;
        margin-top: 30px;
    }

    &-point{
        transition: all ease-in-out 0.5s;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #ddd;
        border: #9933ff solid 2px;
        &-active{
            border-radius: 50%;
            background: #aaa;
            height: 15px;
            border: #3b4998 solid 2px;
        }
    }

    &-section-3{
        @media (min-width: 768px){
            margin-top: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        @media (max-width: 768px){
            margin-top: 0px;
            border-radius: 0px;
            margin-bottom: 0px;
        }
        margin: auto;
        text-align: center;
        background: $main-color;
        padding-bottom: 10px;
        padding-top: 10px;
        & h2{
            margin-bottom: 10px;
            font-size: 2.5rem;
        }

        &-slider-post{
            overflow: hidden;
            width: 85%;
            position: relative;
            left: 50%;
            transition: all ease-in-out 1s;
            @media (min-width: 768px){
                transform: translateX(-40%);
                height: 130px;
            }
    
            @media (max-width: 768px){
                height: 190px;
                transform: translateX(-50%);
            }
            
            &-slide-1{
                opacity: 1;
                transform: translateX(0%);
                transition: all ease-in-out 1s;
            }
            &-slide-2{
                opacity: 1;
                transition: all ease-in-out 1s;
                @media (min-width: 768px){
                    transform: translateX(-112%);
                }
        
                @media (max-width: 768px){
                    transform: translateX(-140%);
                }
            }
            &-slide-3{
                opacity: 1;
                
                transition: all ease-in-out 1s;
                @media (min-width: 768px){
                    transform: translateX(-224%);
                }
        
                @media (max-width: 768px){
                    transform: translateX(-280%);
                }
            }
            &-1{
                transform: translateX(0%);
                @media (min-width: 768px){
                    width: 80%;
                }
        
                @media (max-width: 768px){
                    width: 100%;
                }
                top:0;
                position: absolute;
                opacity: 0;
                transition: all ease-in-out 1s;
                & h3{
                    margin-bottom: 10px;
                    font-size: 2rem;
                }
                & p{
                    font-size: 1.2rem;
                }
                &-active{
                    transform: translateX(0%);
                    top:0;
                    margin: auto;
                    position: absolute;
                    opacity: 1;
                    transition: all ease-in-out 1s;
                    @media (min-width: 768px){
                        width: 80%;
                    }
            
                    @media (max-width: 768px){
                        width: 100%;
                    }
                    & h3{
                        margin-bottom: 10px;
                        font-size: 2rem;
                    }
                    & p{
                        font-size: 1.2rem;
                    }
                }
            }
            &-2{
                @media (min-width: 768px){
                    width: 80%;
                }
        
                @media (max-width: 768px){
                    width: 100%;
                }
                top:0;
                opacity: 0;
                position: absolute;
                transition: all ease-in-out 1s;
                transform: translateX(140%);
                & h3{
                    margin-bottom: 10px;
                    font-size: 2rem;
                }
                & p{
                    font-size: 1.2rem;
                }
                &-active{
                    transform: translateX(140%);
                    @media (min-width: 768px){
                        width: 80%;
                    }
            
                    @media (max-width: 768px){
                        width: 100%;
                    }
                    top:0;
                    position: absolute;
                    opacity: 1;
                    transition: all ease-in-out 1s;
                    & h3{
                        margin-bottom: 10px;
                        font-size: 2rem;
                    }
                    & p{
                        font-size: 1.2rem;
                    }
                }
            }
            &-3{
                transform: translateX(280%);
                @media (min-width: 768px){
                    width: 80%;
                }
        
                @media (max-width: 768px){
                    width: 100%;
                }
                top:0;
                position: absolute;
                opacity: 0;
                transition: all ease-in-out 1s;
                & h3{
                    margin-bottom: 10px;
                    font-size: 2rem;
                }
                & p{
                    font-size: 1.2rem;
                }
                &-active{
                    transform: translateX(280%);
                    @media (min-width: 768px){
                        width: 80%;
                    }
            
                    @media (max-width: 768px){
                        width: 100%;
                    }
                    top:0;
                    position: absolute;
                    opacity: 1;
                    transition: all ease-in-out 1s;
                    & h3{
                        margin-bottom: 10px;
                        font-size: 2rem;
                    }
                    & p{
                        font-size: 1.2rem;
                    }
                }
            }

        }

        &-image{
            margin: auto;
            display: inline-block;
            background: url('../img/sport.jpg') left center/ cover;
            border-radius: 50%;
            transition: all ease-in-out 1s;
            &-sport{
                margin: auto;
                display: inline-block;
                @media (min-width: 768px){
                    width: 100px;
                    height: 100px;
                }
        
                @media (max-width: 768px){
                    width: 90px;
                    height: 90px;
                }
                border-radius: 50%;
                background: url('../img/sport.jpg') left center/ cover;
                transition: all ease-in-out 1s;
            }
            &-work{
                margin: auto;
                display: inline-block;
                @media (min-width: 768px){
                    width: 100px;
                    height: 100px;
                }
        
                @media (max-width: 768px){
                    width: 90px;
                    height: 90px;
                }
                border-radius: 50%;
                background: url('../img/work.jpg') center center/ cover;
                transition: all ease-in-out 1s;
            }
            &-front{
                margin: auto;
                display: inline-block;
                @media (min-width: 768px){
                    width: 100px;
                    height: 100px;
                }
        
                @media (max-width: 768px){
                    width: 90px;
                    height: 90px;
                }
                border-radius: 50%;
                background: url('../img/front.png') center center/ cover;
                transition: all ease-in-out 1s;
            }
        }

        & i{
            cursor: pointer;
            margin-top: 0;
            font-size: 70px;
            height: 100px;
            width: 100px;
            color: #333;
            text-align: center;
            transition: all ease-in-out 0.5s;
            transform: translateY(-25%);
            &:hover{
                color: #3b5998;
            }
        }
    }
}